body{
    font-family: 'Helvetica';
    background:lightgray;

    background:url('../subwaytile.jpg');
    background-position-y: -6px;
}
#container{
    position:relative;
}
#myCanvas{
    width:1200px;
    height: 800px;
    border: 3px solid lightgray;
    margin:5px 5px 0 0;
    border-radius: 10px;
    background:white;
}

#myCanvas.text-cursor{
    cursor:text;
}

#myCanvas.move{
    cursor:move;
}
#myCanvas.pointer{
    cursor:pointer;
}
#myCanvas.crosshair{
    cursor:crosshair;
}

#toolbox{
    display:inline-block;
    position:absolute;
    top: 0;
    background:white;

    border: 2px solid black;
    margin-left: 5px;
    margin-top:5px;
}

#toolbox-section-container{
    display:flex;
}
#toolbox-section-stickers{
    border-left: 1px solid black;
    width: 80px;
}
#toolbox-section-stickers-container{
    display:flex;
    flex-wrap: wrap;
}
#toolbox-text{
    font-size:20px;
    color:white;
    background:black;
    font-weight:bold;

    border-top: 1px solid white;
    margin: 0 -2px;
    padding-left: 2px;
}
#toolbox-text-stickers{
    font-size:16px;
    color:white;
    background:black;
    font-weight:bold;
    padding-top:5px;
}

#toolbox button{
    display:block;
    border: 1px solid white;
    outline: none;
    cursor: pointer;

    font-size:30px;
    margin:5px;

    border-radius:8px;

    height:45px;
    width: 45px;
}
#toolbox button.sticker{
    font-size:20px;
    width:25px;
    height: 25px;
    padding:0;
}
#toolbox button.selected{
    /* border: 1px dashed red; */
    outline: 1px dashed red;
}

#toolbox button.line{
    border-radius: 25px;
    width:45px;
    height:45px;
}

#select-move{
    /* styling the select/move button by rotating it */
    transform: rotate(-90deg);

}

#text{
    font-family:'Times New Roman', Times, serif;
    
}




header{
    cursor:default;
    background: #080706;
    color:white;
    width: 557px;

    font-size:50px;
    font-weight:bold;

    margin-top:-8px;

    letter-spacing: 2px;
    height:130px;
    margin-left: 570px;
}
hr{
    /* GROSS */
    margin: 0;
    -webkit-margin-before: 3px;
    -webkit-margin-after: 3px;
    border: 0;
    border-bottom: 2px solid white;
    height: 3px;
    padding-top: 4px;
}

#header-text{
    width:315px;
    display:inline-block;
    float:left;
    padding-left: 2px;
    cursor:default;
}
#line-logo{
    background-color: #EE352E;
    color: white;
    font-size: 81px;
    display: inline-block;
    height: 90px;
    padding: 10px;
    width: 90px;
    border-radius: 84px;
    text-align: center;
    position: relative;
    top: 2px;
}
#arrow-logo{
    height:118px;
    transform:rotate(45deg);
    position:absolute;

}





#text-input-wrapper{
    position:absolute;
    left:100px;
    top: 200px;
    background: white;
    border: 1px dashed black;
    padding:5px;

    /* hidden until needed     */
    display: none;
}
#text-input-done{

    outline: none;
    cursor:pointer;
    font-size:20px;
    color:green;
    width:25px;
    height:25px;
    position:absolute;
    top:-1px;
    padding:0;
    right: -26px;
}

#text-input{
    font-weight:bold;
    min-width:30px;
    font-size: 16px;
}